* {
  margin: 0;
  background-color: #171717;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: neue-haas-unica,IBM Plex Sans,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
}

body{
  color: #FFFF;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}

.outer-div {
  background-color: #171717;
  margin-left: 32px;
  margin-right: 32px;
  padding-bottom: 100px;

}

.inner-div{
  padding-left: 12px;
  padding-bottom: 32px;
  padding-right: 12px;

}

.flex-container{
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  
}

nav {
  width: 100%;
  text-align: center;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;

}

.header {
  font-size: 14px;
  color: white;
  text-decoration: none;  
  text-align: left;
  flex-basis: 33.33%;
}

.p1{
  flex-basis: 33.33%;
  text-align: center;
}

.p2 {
  flex-basis: 33.33%;
  text-align: left;
}


.about-section{
  width: auto;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

h1 {
  font-size: 10px;
  color: rgba(177, 171, 171, 0.9);
  font-weight: 400;
}

.about-header {
  grid-column: 1 / 4; 
  padding-left: 12px;
}

.team-header{
  text-align: left;
  grid-column: 6 / 7; 
}

.description-header{
  grid-column: 9 / 11;
}

